.css{
    width: 50px;
    height: 30px;
  }

  ion-title{
    font-family: Impact;
    font-size: 32px;
  }

  p{
  font-family: Lucida ;
    font-size: 16px;
  }
  .title{
    font-family: Monotype Corsiva;
    font-size: 38px;
  }