input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
  .perfilx {

    --background: url(../../assets/imagens/1.gif) no-repeat;

  }

  .perfil{
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.tags{
text-align: center;


}

.volta{
  width: 50px;
  height: 30px;

}
ion-card-subtitle{
  color: white;
  font-size: 18px;
  text-align: center;
}
ion-title{
  margin-left: 110px;
}

.config{
 
  width: 50px;
  height: 30px;
  
 
}
.contato{
  margin-left: 90px;
}
ion-button{
  margin-left: 110px;
}
ion-content{
  background-color: black;
}