<ion-header>

  <ion-toolbar color="dark">
    <ion-icon slot="start" (click)="Home()" name="home" class="volta"></ion-icon>

    <ion-title>Perfil</ion-title>
    <ion-icon slot="end" (click)="cancelar()" name="log-out" class="volta"></ion-icon>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="cor">


    <ion-card-header>

      <img src="{{picture}}" class="perfil" />

      <ion-card-title>{{usuarioEmail}}</ion-card-title>

    </ion-card-header>



    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="edt()">

      <ion-icon name="settings" class="config"></ion-icon>

    </ion-fab>




    <ion-card-header>

      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-label class="dd">Nome:</ion-label>
        <ion-card-subtitle class="t">{{perfil.nome}} {{perfil.sobrenome}}</ion-card-subtitle>
      </ion-item>


      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-label class="dd">Telefone:</ion-label>
        <ion-card-subtitle class="t">{{perfil.cel}}</ion-card-subtitle>
      </ion-item>


      <ion-item>
        <ion-icon name="business"></ion-icon>
        <ion-label class="dd">Cidade:</ion-label>
        <ion-card-subtitle class="t">{{perfil.cidade}}</ion-card-subtitle>
      </ion-item>




    </ion-card-header>
  </ion-card>

  <ion-card-content>



    <ion-button color="purple" fill="outline" (click)="localization()">
      <ion-icon name="localizer"></ion-icon> Localização
    </ion-button>



  </ion-card-content>

</ion-content>