input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
  .perfilx {

    --background: url(../../assets/imagens/1.gif) no-repeat;

  }

  .perfil{
    height: 160px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}



.tags{
text-align: center;


}

.volta{
  width: 50px;
  height: 30px;

}
ion-card-title{
  color: white;
  font-size: 18px;
  text-align: center;
 // height: 50px;
}
ion-title{
  margin-left: 120px;
}

.config{
 
  width: 50px;
  height: 30px;
  color: white;
  
 
}
.contato{
  margin-left: 90px;
}
ion-button{
  margin-left: 110px;
}


.t{
  color: black;
  font-family: Segoe UI;
 
  font-size: 18px;
}
.dado{
  margin-left: 30px;
  font-family: Arial;
  font-size: 18px;
  color: white;
}
.nome{

  color: black;
  font-family:  Georgia;
  text-align: center;
  font-size: 18px;

}
.logo{
  width: 50px;
  height: 30px;
}
ion-item{
  font-family: Verdana;
 
 margin-right: 20px;
}

.dd{
  margin-left: 20px
}

ion-content.background{
 // --ion-background-color:#930;
 --background: url(../../assets/imagens/menu4.jpg) no-repeat 100% ;

 
}