<ion-header>
  <ion-header>
    <ion-toolbar color="dark">

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon name="search" class="Procura" size="large" id="market" (click)="showFilter()"> </ion-icon>
     


      <ion-icon slot="end" name="cart" class="css" (click)="Carrinho()"></ion-icon>

      <ion-title slot="start">Pratos Baixa-Caloria</ion-title>

    </ion-toolbar>
  </ion-header>
 


   <ion-slides pager="true" style="margin-top: 1px; width: 200px; height:100px;" [options]="slideOpts">

    <ion-slide>
      <ion-img src="../assets/imagens/teste1.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/teste2.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/teste3.jpg"></ion-img>
    </ion-slide>


  </ion-slides>



  <ion-fab vertical="center" horizontal="start" slot="fixed">

    <img src="../../assets/imagens/3.gif" class="promocao" (click)="ListaDePromocoes()">

  </ion-fab>


 

</ion-header>

<ion-row>
  
  <ion-searchbar  [ngStyle]="{'display':filtroBox}" #textoBusca animated placeholder="Procurar" (ionChange)="busca()"  
   (ionChange)="presentActionSheet()"></ion-searchbar>
 </ion-row>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{pedido.itens.length}}</ion-badge>
    </ion-fab-button>
  </ion-fab>


  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button>

        <img src="../../assets/imagens/logobx.png" class="logo">
        <ion-label>Cardápio</ion-label>
        <ion-label>baixa-caloria</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="viewPratoVegano()">
        <img src="../../assets/imagens/logovegano.png" class="logo">
        <ion-label>Cardápio</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="viewPratoVegetariano()">
        <img src="../../assets/imagens/logovegetariano.png" class="logo">
        <ion-label>Cardápio</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let prato of ListaDePratos">
        <ion-card>
          <ion-card-header>
            <img src="{{prato?.imagem}}" (click)="viewPrato(prato)" class="transp">
            <ion-card-title class="titleconfig">{{prato?.nome}}</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-subtitle class="valorconfig">{{prato?.valor}}</ion-card-subtitle>

          </ion-card-header>



          <div>
            <ion-button expand="solid" color="danger" (click)="addCarrinho(prato)">
              <h3>Pedir Prato</h3>
              <img src="../../assets/imagens/logo3.png" class="css">
            </ion-button>
          </div>


        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>






</ion-content>