<ion-header>
  <ion-toolbar>
    <ion-icon name="person" slot="start" class="pessoa"></ion-icon>
    <ion-title>Cadastre seu Perfil, é Rapidinho!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form [formGroup]="formGroup">
      <ion-list>


        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Apelido</ion-label>
          <ion-input formControlName="sobrenome" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Celular</ion-label>
          <ion-input formControlName="cel" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cidade</ion-label>
          <ion-input formControlName="cidade" type="text"></ion-input>
        </ion-item>

        

      </ion-list>
      <ion-button expand="full" type="submit" fill="outline" color="dark" (click)="entrar()">Entrar no perfil
      </ion-button>
    </form>


  </ion-content>