ion-card-subtitle{
    font-family: Trebuchet ;
    font-size: 24px;
    text-align: center;
    color: black
  }
  ion-card-title{
    text-align: center;
    font-family: Lucida ;
    font-size: 16px;

  }
  .css{
    width: 50px;
    height: 30px;
   
  }