<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-icon (click)="ListaDePratos()" slot="start" name="arrow-back" class="css"></ion-icon>

    <ion-title>ListaDePromoções!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let promocao of ListaDePromocoes">
    <ion-card-header>
      <img src="{{promocao?.imagem}}">
      <ion-card-title>{{promocao?.nome}}</ion-card-title>
      <ion-card-subtitle>{{promocao?.descricao}}</ion-card-subtitle>
      <ion-card-subtitle>{{promocao?.valor}}</ion-card-subtitle>
    </ion-card-header>

    <div>
      <ion-button expand="full" color="danger" (click)="addCarrinho(promocao)">
        <h3>Pedir Prato</h3>
        <img src="../../assets/imagens/logo3.png" class="css">
      </ion-button>
    </div>

    <ion-icon name="build" (click)="ViewPromocao(promocao)" size="large"></ion-icon>
    <ion-icon name="trash" (click)="remove(promocao)" size="large"></ion-icon>

  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{pedido.itens.length}}</ion-badge>
    </ion-fab-button>
  </ion-fab>

</ion-content>