<ion-header>
  <ion-toolbar>
    <ion-title>Finalizar Compra</ion-title>
    <ion-icon slot="start" name="arrow-back" style="width: 30px; height: 50px; " (click)="Carrinho()"></ion-icon>
  </ion-toolbar>


<form [formGroup]="formGroup" class="contactform" method="post">

  <ion-list>



    <ion-item>
      <ion-label floating>Nome:</ion-label>
      <ion-label formControlName="nome" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Endereço:</ion-label>
      <ion-label formControlName="endereco" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Bairro:</ion-label>
      <ion-label formControlName="bairro" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Cidade:</ion-label>
      <ion-label formControlName="cidade" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Cep:</ion-label>
      <ion-label formControlName="cep" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Cpf:</ion-label>
      <ion-label formControlName="cpf" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email:</ion-label>
      <ion-label formControlName="email" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telefone:</ion-label>
      <ion-label formControlName="telefone" type="text"></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-toolbar color="medium">
      <ion-title>Modo de Pagamento</ion-title>
    </ion-toolbar>


    <ion-item>
      <ion-label floating>Depósito</ion-label>
     
      <ion-checkbox slot="start"></ion-checkbox>
     
    </ion-item>
   
    <ion-item>
      <ion-label floating>Cartão de Crédito</ion-label>
    
      <ion-checkbox slot="start"></ion-checkbox>
     
    </ion-item>

   
  

    <ion-button expand="full" fill="outline">Finalizar Pedido</ion-button>


  </ion-list>

</form>