<ion-header>
  <ion-toolbar>
    <ion-title>Prato Principal (Ingredientes)</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content padding>


  <ion-content>


    <ion-card>
      <ion-card-header>
        <img src="{{prato.imagem}}">

        <ion-card-subtitle>{{prato.nome}}</ion-card-subtitle>

        <ion-card-title> {{prato?.ingrediente}}</ion-card-title>

        <ion-card-title>{{prato?.descricao}}</ion-card-title>

      </ion-card-header>
     
   

      <ion-card-content>
          <ion-button expand="full" color="danger" (click)="ListaDePratos()">Voltar</ion-button>
      </ion-card-content>
    </ion-card>


  </ion-content>