.logo{
  margin-top: 2%;
  width: 90px;
  height: 50px;
}


div{
  text-align: center;
}

.div2{
  margin: 0;
  margin-right: 35px ;
}

.iconeconf{
  width: 50px;
  height: 30px;
}

.escolha{
  width: 170px;
  height: 170px;
}
