<ion-header>
  <ion-toolbar color="dark">


    <ion-icon (click)="Home()" slot="start" name="arrow-back" class="volta"></ion-icon>

    <ion-icon slot="end" name="cart" class="css" (click)="Carrinho()"></ion-icon>




    <ion-title>Pratos Vegetariano</ion-title>
  </ion-toolbar>



  <ion-slides pager="true" style="margin-top: 1px; width: 200px; height: 100px;" [options]="slideOpts">


    <ion-slide>
      <ion-img src="../assets/imagens/vg2.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/vg3.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/vg4.jpg"></ion-img>
    </ion-slide>



  </ion-slides>



  <ion-fab vertical="center" horizontal="start" slot="fixed">
      <img src="../../assets/imagens/3.gif" class="promocao" (click)="ListaDePromocoes()">
  </ion-fab>


  <ion-searchbar color="clear" #textoBusca animated placeholder="Procurar" debounce="500" (ionChange)="busca()"
    (ionChange)="presentActionSheet()"></ion-searchbar>


</ion-header>



<ion-content>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{pedido.itens.length}}</ion-badge>
    </ion-fab-button>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="PratoView()">

        <img src="../../assets/imagens/logobx.png" class="logo">
        <ion-label>Cardápio</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="viewPratoVegano()">
        <img src="../../assets/imagens/logovegano.png" class="logo">
        <ion-label>Cardápio</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="ListaDePratos()">
        <img src="../../assets/imagens/logovegetariano.png" class="logo">
        <ion-label>Cardápio</ion-label>
        <ion-label>VEGETARIANO</ion-label>

      </ion-tab-button>

    </ion-tab-bar>


  </ion-tabs>
  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let pratovegetariano of  ListaDePratosVegetariano">
        <ion-card>
          <ion-card-header>
            <img src="{{pratovegetariano?.imagem}}" (click)="viewPratoVegetariano(pratovegetariano)" class="transp">
            <ion-card-title class="titleconfig">{{pratovegetariano?.nome}}</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-subtitle class="valorconfig">{{pratovegetariano?.valor}}</ion-card-subtitle>

          </ion-card-header>


          <div>
            <ion-button expand="solid" color="danger" (click)="addCarrinho(prato)">
              <h3>Pedir Prato</h3>
              <img src="../../assets/imagens/logo3.png" class="css">
            </ion-button>
          </div>


        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>






</ion-content>