ion-card-title{
    height: 50px;
}
  
.css{
  width: 50px;
  height: 30px;
  color: blue;
}
.volta{
  width: 50px;
  height: 30px;
}
 
  div{
    text-align: center;
   
  }

  .div2{
    margin: 0;
    margin-left: 30px;
  }

  
  .config{
    width: 80px;
    height: 60px;
  }

  ion-grid{
    margin-top: 40px;
  }
 
  .logo{
    margin-top: 2%;
    width: 50px;
    height: 25px;
  }
 
  .logo3{
    margin-top: 2%;
    width: 90px;
    height: 50px;
    margin-right: 35px;
  }
  .titleconfig{
    height: 35px;
    font-size: 13px;
    font-family: Arial;
    text-align: start;
    color: white;
   
  }
  
  ion-card-subtitle{
    font-style: initial;
    font-family: Arial;
    color: white;
    text-align: center;
    
  }
  ion-card{
    background-color: black;
 
  }
 
  ion-tab-button{
    background-color: white;

  }
 
  ion-label{
    color: white;
    font-family: Monotype Corsiva;
    font-size: 15px;
  }
  h3{
    color: black;
    font-size: 15px;
    font-family: Impact;
   
  }

 .valorconfig{
  font-size: 25px;
  font-family: Impact;
  height: 20px;
  text-align: end;
}

 h4{
  color: black;
  font-size:25px;
  font-family: Impact;
  margin-top: 10px;
  
  }
  
  .logopromo{
    width: 50px;
    height: 30px;
   margin-right: 20px;
  }
  .iconconfig{
    width: 70px;
    height: 40px;
   margin-left: 10px;
  
  }
  .promocao{
 
    width: 70px;
    height: 60px;
   
  }
  .parceria{
   
     width: 40px;
     height: 30px;
   
    
   }
   .div3{
    margin-top: 1px;
   }
   ion-searchbar{
    margin-top: 1px;
   }
   
   ion-fab-button {
     color: black;
     
   }
  
   ion-title{
    font-family: Palatino Linotype;
    font-size: 18px;
    margin-left: 1px;
  }

  .transp{
 
    opacity: 1;
   
  }
  
  .transp:hover{
    
    opacity: 0.5;
   
    
  
  }
  ion-tab-button{
    background-color: brown;
  }

  .Procura{
    width: 50px;
    height: 30px;
  }
  ion-content.background{
    // --ion-background-color:black;
     --background: url(../../assets/imagens/menu2.jpg);
   }
   
   .preto{
    color: black;
  }
  
   
 
    