ion-card-title{
    height: 50px;
}
  
  .css{
    width: 50px;
    height: 30px;
  }
 
  div{
    text-align: center;
   
  }

  .div2{
    margin: 0;
    margin-left: 30px;
  }

  
  .config{
    width: 80px;
    height: 60px;
  }

  ion-grid{
    margin-top: 40px;
  }
 
  .logo{
    margin-top: 2%;
    width: 50px;
    height: 25px;
  }
 
  .logo3{
    margin-top: 2%;
    width: 90px;
    height: 50px;
  }
  .titleconfig{
    height: 65px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-align: center;

  }
  
  ion-card-subtitle{
    font-style: initial;
    font-family: Arial;
    color: white;
    text-align: center;
    
  }
  ion-card{
    background-color: black;
 
  }
 
  ion-tab-button{
    background-color: white;

  }
 
  ion-label{
    color: black;
    font-family: Monotype Corsiva;
    font-size: 15px;
  }
  h3{
    color: black;
    font-size: 15px;
    font-family: Impact;
   
  }

  .valorconfig{
    font-size: 30px;
    font-family: Impact;
 }

 h4{
  color: black;
  font-size:25px;
  font-family: Impact;
  margin-top: 10px;
  
  }
  
  .logopromo{
    width: 50px;
    height: 30px;
   margin-right: 20px;
  }
  .iconconfig{
    width: 70px;
    height: 40px;
   margin-left: 10px;
  
  }
  .promocao{
 
    width: 40px;
    height: 30px;
   
  }
  .parceria{
   
     width: 40px;
     height: 30px;
   
    
   }
   .div3{
    margin-top: 1px;
   }
   ion-searchbar{
    margin-top: 1px;
   }
   
   ion-fab-button {
     color: black;
     
   }
  
   