<ion-header>
  <ion-toolbar color="dark">

    <div class="div2">
      <ion-title>
        <img src="../../assets/imagens/logo2.png" class="logo3">
      </ion-title>
    </div>

    <ion-icon slot="end" name="cart" class="css" (click)="Carrinho()"></ion-icon>
   


    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-icon (click)="Home()" slot="start" name="arrow-back" class="css"></ion-icon>
    <ion-icon slot="start" name="contact" class="css"></ion-icon>


  </ion-toolbar>


  <ion-slides pager="true" style="margin-top: 1px; width: 200px; height: 100px;" [options]="slideOpts">


    <ion-slide>
      <ion-img src="../assets/imagens/v3.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/v4.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="../assets/imagens/v5.jpg"></ion-img>
    </ion-slide>



  </ion-slides>

  <ion-fab  vertical="center" horizontal="start" slot="fixed">
      <ion-fab-button color="light" (click)="ListaDeParcerias()">
        <img src="../../assets/imagens/parca6.png" class="parceria">
      </ion-fab-button>
    </ion-fab>
   
    <ion-fab  vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="ListaDePromocoes()">
            <img src="../../assets/imagens/seta9.png" class="promocao" >
        </ion-fab-button>
      </ion-fab>
   

  <ion-searchbar  color="clear" #textoBusca animated placeholder="Procurar" debounce="500" (ionChange)="busca()"
    (ionChange)="presentActionSheet()"></ion-searchbar>



</ion-header>


<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-badge color="primary">{{pedido.itens.length}}</ion-badge>
    </ion-fab-button>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="PratoView()">
        <img src="../../assets/imagens/logobx.png" class="logo">
        <ion-label>Cardápio</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="viewPratoVegano()">
        <img src="../../assets/imagens/logovegano.png" class="logo">
        <ion-label>Cardápio</ion-label>
        <ion-label>VEGANO</ion-label>

      </ion-tab-button>

      <ion-tab-button (click)="viewPratoVegetariano()">
        <img src="../../assets/imagens/logovegetariano.png" class="logo">
        <ion-label>Caradápio</ion-label>
      </ion-tab-button>

    </ion-tab-bar>


  </ion-tabs>
  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let pratovegano of ListaDePratosVegano">
        <ion-card>
          <ion-card-header>
            <img src="{{pratovegano?.imagem}}">
            <ion-card-title class="titleconfig">{{pratovegano?.nome}}</ion-card-title>
            <ion-card-subtitle>{{pratovegano?.descricao}}</ion-card-subtitle>
            <ion-card-subtitle class="valorconfig">{{pratovegano?.valor}}</ion-card-subtitle>
          </ion-card-header>


          <div>
            <ion-button expand="solid" color="danger" (click)="addCarrinho(prato)">
              <h3>Pedir Prato</h3>
              <img src="../../assets/imagens/logo3.png" class="css">
            </ion-button>
          </div>

          <ion-icon name="build" (click)="ViewPratoVegano(pratovegano)" size="large"></ion-icon>
          <ion-icon name="trash" (click)="remove(pratovegano)" size="large"></ion-icon>

        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>






</ion-content>