<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Faça seu login</ion-title>
    <ion-icon slot="end" name="more" class="iconeconf"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="../../assets/imagens/logo.png" class="logo">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input #email></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" #senha></ion-input>
    </ion-item>

    <br>

    <ion-button expand="full" color="dark" (click)="logar()">LOGAR</ion-button>
    <ion-button expand="full" fill="outline" color="dark" (click)="cadastrar()">CADASTRAR</ion-button>

    <p>ou</p>

    <ion-button expand="full" color="primary" (click)="logar()">
      <ion-icon name="logo-facebook"></ion-icon>LOGIN PELO FACEBOOK
    </ion-button>

    <ion-button expand="full" color="danger" (click)="logar()">
      <ion-icon name="logo-google"></ion-icon>LOGIN PELO GOOGLE
    </ion-button>
  </div>

</ion-content>